<h2 id='title'>Welcome to Ember.js</h2>

{{#if session.isAuthenticated}}
 <div>
   {{#link-to 'logout'}}Logout{{/link-to}}
 </div>
{{else}}
<div>
  {{#link-to 'login'}}Login{{/link-to}}
  </div>
{{/if}}

{{outlet}}
